html{
	font-family: 'Roboto Condensed', sans-serif;	
}

/* Some spacing */
.stat{
	padding: 5px;	
}

/* Hiding add stat button */
.add_stat{
	display: none;
	padding: 5px;
}


/* Centering content to the page */
#content-container{
	text-align: center;	
}
