html{
	font-family: 'Roboto Condensed', sans-serif;
}

/* Stats Container */

#stats_container{
    width:200px;
    border:1px solid #000;
    margin:auto;
}

#stats_container .float-left {
    float:left;
    margin:0;
    padding:5px;
}

/* Some spacing */
.stat{
	padding: 5px;
    clear:both;
}

/* Hiding add stat button */
.add_stat{
	background:#CD5C5C;
    width:30px;
	padding: 5px;
	cursor: pointer;
    float:right;
    margin:0;
    color:#fff;
    transition:background .5s;
    -webkit-transition:background .5s;
    -moz-transition:background .5s;
}

.add_stat.purchase {
    background:#2E8B57;
}

/*Menu text no selectable*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
}

/* Centering content to the page */
#content-container{
	text-align: center;
}

h1{
	margin-bottom: 0;
	padding-bottom: 0;
}

#id-display{
	display: none;
}

/* Health Bar */
#health-bar{
    position:relative;
    background: hsla(0,92%,41%,1.00);
    height: 20px;
    width: 100%;
    z-index: 0;
    padding: 0;
    text-align: center;
}

#health-text{
    top:-16px;
    color:#fff;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
}

#health-remaining{
    position:absolute;
    left:0;
    background: hsla(121,100%,31%,1.00);
    height: 20px;
    width: 100%;
    display: block;
    z-index: 1;
}

/* Button */
#save-button{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#load-button{
	position: absolute;
	bottom: 10px;
	left: 100px;
}

#load-box{
	position: absolute;
	left: 190px;
	bottom: 10px;
	display: none;
}

/* Information */
#information{
	position: absolute;
	right: 10px;
	bottom: 5px;
}
/* Bump up div when screen size forces overlap with save/load buttons */
@media only screen and (max-width: 1100px){
	#information{
		bottom: 25px;
	}
}

/* Advert */
#advert{
	width: 728px;
	margin: 0 auto;
}

/* +1(0) on stat upgrade */
.plusone{
    opacity:1;
    color:#0DFF2B;
    font-weight:700;
    position:absolute;
    display:none;
    cursor:pointer;
}