html{
	font-family: 'Roboto Condensed', sans-serif;
}

/* Stats Container */

#stats-container{
    width:200px;
    border:1px solid #000;
    margin:auto;
}

#stats-container .float-left {
    float:left;
    margin:0;
    padding:5px;
}

/* Some spacing */
.stat{
	padding: 5px;
    clear:both;
}

/* Hiding add stat button */
.add-stat{
	background:#CD5C5C;
    width:30px;
	padding: 5px;
	cursor: pointer;
    float:right;
    margin:0;
    color:#fff;
    transition:background .5s;
    -webkit-transition:background .5s;
    -moz-transition:background .5s;
}

.add-stat.purchase {
    background:#2E8B57;
}

/*Menu text no selectable*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
}

/* Centering content to the page */
#content-container{
	text-align: center;
}

h1{
	margin-bottom: 0;
	padding-bottom: 0;
}

#id-display{
	display: none;
}

#toggle-id{
	margin-bottom: 10px;
}

/* Health Bar */
#health-bar{
    position:relative;
    background: hsla(0,92%,41%,1.00);
    height: 20px;
    width: 100%;
    z-index: 0;
    padding: 0;
    text-align: center;
}

#health-text{
    top:-16px;
    color:#fff;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
}

#health-remaining{
    position:absolute;
    left:0;
    background: hsla(121,100%,31%,1.00);
    height: 20px;
    width: 100%;
    display: block;
    z-index: 1;
}

/* Button */
#footerContent {
	position: fixed;
    bottom: 10px;
    width: 100%;
}


#buttons {
    width: 100%;
}

.bottom_buttons {
	float: left;
	margin-right: 0.5em;
}


#load-box{
	display: none;
}


#information{
	position: fixed;
	bottom: 5px;
	right: 10px;
}


/* Character image */
#character-image{
	position: absolute;
	right: 18%;
	margin-top: 50px;
	height: 0;
}

/* Bump up div when screen size forces overlap with save/load buttons */
@media only screen and (max-width: 1100px){
	#content-container{
		padding-bottom: 75px;
	}

	#information{
		bottom: 25px;

	}

	#character-image{
		position:relative;
		right: 0;
		margin: 0;
	}
}

/* Advert */
#advert{
	width: 728px;
	margin: 0 auto;
}

/* +1(0) on stat upgrade */
.plusone{
    opacity:1;
    color:#0DFF2B;
    font-weight:700;
    position:absolute;
    display:none;
    cursor:pointer;
}



#events {
	position: absolute;
	top: 20px;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.event_time {
	color: #aaf;
	font-size: 80%;
}

.event_bubble {
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #777;
	box-shadow: 0px 0px 10px #aaa;
	color: #333;
	margin: 5px;
	width: 250px;
	text-align: left;
	margin-top: -30px;
	margin-right: 20px;
	padding: 10px;
	background: #fff;
	transition: background 10s;
	-webkit-transition: background 10s;
	opacity: 0;
}

#event-toggle{
	padding-top: 10px;
	z-index: 2;
	cursor: pointer;
}

.event_information {
	border: 0;
}

.event_environment {
	border: 1px solid #777;
}

.event_confrontation {
	border: 2px solid #CD5C5C;
	cursor: pointer;
}

.event_exchange {
	border: 2px solid #0DFF2B;
	cursor: pointer;
}





#hour_of_day {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 80%;
	color: #aaf;
}
